<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd"
>
    <label lang="de">Bestandsänderung Cache-Bedingung Plugin</label>
    <label lang="en">Stock change cache condition plugin</label>

    <version>1.0.0</version>
    <license>MIT</license>
    <copyright>Net Inventors GmbH</copyright>
    <author>Net Inventors GmbH</author>
    <link>https://github.com/NetInventors</link>
    <compatibility minVersion="5.3.5"/>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[Initiale Veröffentlichung]]></changes>
        <changes lang="en"><![CDATA[Initial release]]></changes>
    </changelog>
</plugin>
